<!DOCTYPE html>
<html lang="en" style="
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(/forum/style/ressources/400.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black; /* Couleur de fond en cas de vide */
">

<head>
    <meta charset="UTF-8">
    <title>400 Bad Request</title>
    <link rel="icon" src="https://cdn2.steamgriddb.com/icon/e22dd5dabde45eda5a1a67772c8e25dd.ico" type="image/x-icon">

</head>

<body>
    <a href="http://localhost:8080"></a>
</body>

</html>