<!DOCTYPE html>
<html lang="en" style="background-color: black;">
    <head>
        <meta charset="UTF-8">
        <title >404 Not Found</title>
        <link rel="icon" src="https://cdn2.steamgriddb.com/icon/e22dd5dabde45eda5a1a67772c8e25dd.ico" type="image/x-icon">

    </head>
    <body class="err">
        <img src="style/ressources/404.png" 
        style="position: fixed;left: 50%;transform: translate(-50%,-50%);top: 50%;">        
        <a href="http://localhost:8080"></a>
    </body>
</html>