<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From Software Forum</title>
    <link rel="stylesheet" href="/style/style_home.css">
    <link rel="stylesheet" href="/style/checkbox.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" src="https://cdn2.steamgriddb.com/icon/e22dd5dabde45eda5a1a67772c8e25dd.ico" type="image/x-icon">

</head>

<body>
    <header>
        <div class="header_flex_box">
            <nav>
                <a href="/profil?id={{.User.ID}}"><i class='bx bx-user'></i></a>
            </nav>
            <div style="text-align: center;">
                <h1>FIRELINK SHRINE</h1>
            </div>
            <nav>
                <a href="/delete"><i class='bx bx-log-out'></i></a>
            </nav>
        </div>
    </header>
    <main>
        <div>
            <h2>WRITE NEW MESSAGE</h2>
            <form action="/create_post" method="post" enctype="multipart/form-data" class="formulaire">
                <label for="title">
                    <h3>Title :</h3>
                </label>
                <input type="text" placeholder="Title :" name="title" id="title" required>
                <br>
                <label for="content">
                    <h3>Content :</h3>
                </label>
                <textarea rows="7" name="content" placeholder="Content :" id="content" required></textarea>
                <label for="avatar">Add .png .jpg .gif -20mb </label>
                <input type="file" id="image" name="image" accept=".png,.jpeg,.gif" />
                <div class="checkbox-wrapper-16"
                    style="display: flex; flex-direction: row; justify-content: space-around;">
                    <label class="checkbox-1">
                        <input type="checkbox" id="General" value="General" class="checkbox-input" name="category" />
                        <span class="checkbox-tile">
                            <span class="checkbox-icon">
                                <img src="/style/ressources/fire-sword-light.png" alt="fire-sword" style="width: 50px;">
                            </span>
                            <span class="checkbox-label">General</span>
                        </span>
                    </label>
                    <label class="checkbox-2">
                        <input type="checkbox" id="Lore" value="Lore" class="checkbox-input" name="category" />
                        <span class="checkbox-tile">
                            <span class="checkbox-icon">
                                <img src="/style/ressources/fire-sword-light.png" alt="fire-sword" style="width: 50px;">
                            </span>
                            <span class="checkbox-label">Lore</span>
                        </span>
                    </label>
                    <label class="checkbox-3">
                        <input type="checkbox" id="Games" value="Games" class="checkbox-input" name="category" />
                        <span class="checkbox-tile">
                            <span class="checkbox-icon">
                                <img src="/style/ressources/fire-sword-light.png" alt="fire-sword" style="width: 50px;">
                            </span>
                            <span class="checkbox-label">Games</span>
                        </span>
                    </label>
                </div>
                <button type="submit" class="submit">Create Post</button>
            </form>
        </div>
        <br>
        <h2>MESSAGES</h2>
        <h4>
            Filter with categories --
        </h4>
        <form action="/home_connected" method="post" style="display: flex; flex-direction: row;" class="formulaire">
            <input type="checkbox" id="General" name="filter" value="General">
            <label for="general">General &nbsp;</label>
            <input type="checkbox" id="Lore" name="filter" value="Lore">
            <label for="lore">Lore&nbsp;</label>
            <input type="checkbox" id="Games" name="filter" value="Games">
            <label for="astuce">Games&nbsp;</label>
            <button class="submit">Submit</button>
        </form>
        <br>
        {{range $Posts := .Posts}}
        <div class="post_space">
            <h4>SUBJECT : {{.Title}}</h4>
            <br>
            Post Author: {{Get_username_by_id .User_id}} at {{.Creation_date}}
            <p>{{Get_categories_by_post_id .ID}}</p>
            <p>{{   .Content}}</p>
            <img src="{{.Image}}" style="max-width: 500px;">
            <div class="like-dislike-display">
                <form action="/like_post" method="post" >
                    <input type="hidden" id="post_id" name="post_id" value="{{.ID}}">
                    <button type="submit" id="post_like" name="post_like" value="1" class="like-dislike-button like"><i class='bx bxs-like'></i> {{.Like}} </button>
                </form>
                <form action="/like_post" method="post">
                    <input type="hidden" id="post_id" name="post_id" value="{{.ID}}">
                    <button type="submit" id="post_dislike" name="post_dislike" value="-1" class="like-dislike-button dislike"><i class='bx bxs-dislike' ></i> {{.Dislike}}</button>
                </form>
            </div>
            <br>
            <details>
                <summary>Show comments</summary>
                {{range $postID, $comments := .CommentsMap}}
                {{range $comments}}
                {{if eq $postID .Post_id}}
                <p>{{Get_username_by_id .User_id}} at {{.Creation_date}}</p>
                <p>{{   .Content}}</p>
                <div class="like-dislike-display">
                    <form action="/like_post" method="post">
                        <input type="hidden" id="comments_id" name="comments_id" value="{{.ID}}">
                        <button type="submit" id="post_like" name="post_like" value="1" class="like-dislike-button like"><i class='bx bxs-like'></i> {{.Like}} </button>
                    </form>
                    <form action="/like_post" method="post">
                        <input type="hidden" id="comments_id" name="comments_id" value="{{.ID}}">
                        <button type="submit" id="post_dislike" name="post_dislike" value="-1" class="like-dislike-button dislike"><i class='bx bxs-dislike' ></i> {{.Dislike}}</button>
                    </form>
                </div>
                <p align="center">__________________________________________________</p>
                {{end}}
                {{end}}
                {{end}}
            </details>
            <br>
            <form action="/create_comment" method="post" class="formulaire">
                <input type="hidden" name="post_id" value="{{.ID}}">
                <label for="comments">Comment:</label>
                <textarea rows="7" name="content" id="comments" required></textarea>
                <br>
                <button type="submit" class="submit">Create Comment</button>
            </form>
        </div>
        {{end}}
        <br>
        </div>
    </main>
</body>

</html>